<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Tridion.ContentManager.CoreServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<!-- sendTimeout is about the entire operation, incl. traffic. Default: 1 min. -->
			<netTcpBinding>
				<binding name="CoreService_netTcpBinding" transactionFlow="true" transactionProtocol="OleTransactions" maxReceivedMessageSize="2147483647" sendTimeout="00:01:00">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="81920" />
				</binding>
				<binding name="StreamDownload_netTcpBinding" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse" sendTimeout="00:10:00" />
				<binding name="StreamUpload_netTcpBinding" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest" receiveTimeout="00:10:00" sendTimeout="00:01:00" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="netTcp_201501" address="net.tcp://localhost:2660/CoreService/201501/netTcp" binding="netTcpBinding" bindingConfiguration="CoreService_netTcpBinding" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService" behaviorConfiguration="Tridion.ContentManager.CoreServiceBehavior" />
			<endpoint name="streamDownload_netTcp_201501" address="net.tcp://localhost:2660/CoreService/201501/streamDownload_netTcp" binding="netTcpBinding" bindingConfiguration="StreamDownload_netTcpBinding" contract="Tridion.ContentManager.CoreService.Client.IStreamDownload" behaviorConfiguration="Tridion.ContentManager.CoreServiceBehavior" />
			<endpoint name="streamUpload_netTcp_201501" address="net.tcp://localhost:2660/CoreService/201501/streamUpload_netTcp" binding="netTcpBinding" bindingConfiguration="StreamUpload_netTcpBinding" contract="Tridion.ContentManager.CoreService.Client.IStreamUpload" behaviorConfiguration="Tridion.ContentManager.CoreServiceBehavior" />
			<endpoint name="batch_netTcp_201501" address="net.tcp://localhost:2660/CoreService/201501/batch_NetTcp" binding="netTcpBinding" bindingConfiguration="CoreService_netTcpBinding" contract="Tridion.ContentManager.CoreService.Client.ICoreServiceBatch" behaviorConfiguration="Tridion.ContentManager.CoreServiceBehavior" />
		</client>
	</system.serviceModel>
</configuration>
